<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% load static %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/base.css' %}">
    <title>Genshin Builds: {{ title }}</title>

</head>
<body>
    <header>
        <nav>
            <h1 id="logo" href="#home">Genshin Impact</h1>
            <ul class="list-links">
                <li class="list-item"><a class="link-item" href="#characters">Characters</a></li>
                <li class="list-item"><a class="link-item" href="#builds">Builds</a></li>
                <li class="list-item"><a class="link-item" href="#contact">Contact</a></li>
                <li class="list-item"><a class="link-item" href="#login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>