{% extends "./base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/build_form.css' %}">
<script src="{% static 'core/js/build_form.js' %}" defer></script>
{% endblock %}

{{ title }}

{% block content %}
<form action='' method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% endfor %}
    </div>
    <div class="slot" onclick="abrir(0)"></div>
    <div class="slot" onclick="abrir(1)"></div>
    <div class="slot" onclick="abrir(2)"></div>
    <div class="slot" onclick="abrir(3)"></div>
    <div id="modal-container">
        <div id="modal-content">
            <div id="modal-header">
                <h1>Select a Character</h1>
            </div>
            <div id="modal-body">
                {% for character in characters %}
                <img src="{{ url_api }}/{{ character }}/icon.png" alt="{{ character }}" id="character-select"
                    onclick="selecionar('{{ url_api }}/{{ character }}/icon.png', '{{ character }}')">
                {% endfor %}
            </div>
        </div>
    </div>
    <input type="submit" value="Enviar">
</form>
{% endblock %}
